.light-mode {
  background-color: white;
  color: black;

}

.dark-mode {
  background-color: black;
  color: white;

}

.colorBtn {
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s;
  position: relative;
  background-color: black;
  color: blue; 
}




